:root {
    --header-font-family: "IBM Plex Mono";
    --text-font-family: "Helvetica";
    --main-red: #fe5b30;
    --light-red: #ffd1cc;
    --hover-red: #dd522d;
    --grey-extra-dark: #3c3c3c;
    --light-white: #f9f9f9;
    --main-blue-green: #284b4d;
    --light-blue-green: #d5ede4;
    --main-purple: #a246ff;
}